<blockquote class="display-4">
  <p class="mb-0">
    <%= quote.excerpt %>
  </p>

  <footer class="blockquote-footer">
    <span class="alt">from</span>

    <cite title="<%= quote.song.pretty_name %>">
      <%= link_to quote.song.pretty_name, quote.song %>

      <span class="alt">by</span>
      <%= link_to quote.band.name, quote.band %>
    </cite>
  </footer>
</blockquote>
