<section class="mb-5" id="<%= classifize(album.name + "_by_" + album.band.name) %>">
  <% if controller_name == "albums" %>
    <h2 class="display-4"><%= link_to album.band.name, sanatized_band_seo_path(album.band), :class => "band_name" %></h2>
  <% end %>

  <h3 class="h2">
    <%= link_to_unless_current album.name, sanatized_album_seo_path(album) %>
  </h3>

  <%= render album.songs %>
</section>
