<section class="mb-5" id="<%= classifize(band.name) %>">
  <h2 class="display-3 m-0">
    <%= link_to_unless_current band.name, sanatized_band_seo_path(band) %>
  </h2>

  <%= render band.quotes.first %>

  <b>Albums:</b>
  <% band.albums.each do |album| %>
    <%= link_to album.name, album, class: "mr-3" %>
  <% end %>
</section>
