/* [blueprint overrides */
abbr, acronym { border: none; }
.alt { color: #333; }

input,
a.button,
button,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

a.button,
button {
  display: inline;
  float: none;
  margin: 0;
}

input {
  font-size: 1em;
}
/* blueprint overrides] */

/* [html5 */
header, footer, nav, article, aside, section { display: block !important; }
/* html5] */

/* [links */
.actions {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  margin-left: 1em;
}
/* links] */

/* [header */
header {
  background: #eee;
  padding: 2em 0;
}

header nav {
  margin-bottom: -3em !important;
}

header nav ul {
  margin: 0;
  padding: .5em 0 0 0;
  text-align: right;
}

header nav ul,
header nav li {
}

header nav li {
  display: inline;
}
/* header] */

/* [footer */
footer {
  text-align: center;
  margin-top: 2em;
}

footer .alt {
  color: #999;
}
/* footer] */

/* [headings */
h1 {
  letter-spacing: -.04em;
  font-size: 2em;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2,
#albums h3,
#songs h4 {
  font-size: 6em;
  margin: 0;
  font-weight: bold;
  letter-spacing: -.06em;
}

#bands h3 {
  font-size: 4em;
  margin: 0 0 .5em 0;
  font-weight: bold;
}

h4 {
  font-size: 3em;
}
/* headings] */

/* [band */
.band blockquote {
  background: #eee;
  padding: 2em;
  margin: 1em 0;
  border: 1px solid #ccc;
  border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dbdbdb), to(#bdbdbd));
}

.band blockquote p {
  color: #333;
  font-size: 2em;
  margin-bottom: .5em;
}

.band blockquote .from {
  text-align: right;
  font-style: normal;
}
/* band] */

/* [album */
.albums .meta {
  margin-bottom: 2em;
}
/* album] */

/* [song */
.song {
  margin-bottom: 2em;
}

.format {
  font-style: italic;
  text-transform: uppercase;
}

.song h3,
.song h4 {
  margin: 0;
}

.song h3 {
  font-size: 3em;
  font-weight: bold;
}

.player {
  margin: 1em 0;
}
/* song] */

/* [forms */
label,
input,
select {
  width: 100%;
  font-size: 2em;
}

label {
  display: block;
}

.cancel {
  margin: 1em;
  font-size: 80%;
  color: #666;
}

.buttons {
  text-align: center;
  font-size: 2em;
  margin: 1em 0;
}

.button {
  padding: .5em .5em !important;
}
/* forms] */
